// Order is Important
// 01. Your variable overrides
$body-bg: #fff;
$body-color: #000;
$main-color: #FD8122 !important;
$theme-colors: ("primary": #FD8122, "secondary": #8D90FF, );
$transition: (main: all 0.3s linear, second: all .65s linear);
$position-rel: (main: relative);
// 0.2 Import Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

// 03. Your Styles
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-moz-selection {
    color: gray("100");
    background: theme-color("dark");
}

::selection {
    color: gray("100");
    background: theme-color("dark");
}

::-webkit-scrollbar-track {
    background: gray("200");
}

::-webkit-scrollbar-thumb {
    background: gray("500");

    &::-webkit-scrollbar-thumb:hover {
        background: gray("600");
    }
}


/* Generals */

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    text-align: left;
    direction: ltr;
    font-size: 16px;
    overflow: initial;
}

.body_wrapper {
    display: block;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    direction: ltr;
}

* {
    padding: 0;
    margin: 0;

    &,
    &:focus {
        outline: none !important;
    }

    scrollbar-width: thin;
    scrollbar-color: theme-color(primary) $white;
}

.main-color {
    color: theme-color(primary);
}

ul {
    list-style: none;
}

a {
    color: $black;
    display: inline-block;

    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
        cursor: pointer;
        outline: none;
        text-decoration: none;
        transition: map_get($transition, main);
    }

    &:hover {
        color: theme-color(primary);
    }

}

img {
    max-width: 100%;
}

.mw-auto {
    min-width: initial !important;
}

.mh-auto {
    min-height: initial !important;
}

// navbar
.navbar {
    padding: 15px 0;
    align-items: flex-end;
    font-weight: 500;
    text-transform: capitalize;

    .logo {
        margin: 5px 1rem 5px 5px;
        height: 40px;
    }

    .nav-link {
        margin: 5px;
        position: relative;
        padding: 0.5rem 0.9rem !important;

        &.active::after {
            content: "";
            width: 30px;
            height: 0px;
            border: 1.8px solid theme-color("primary");
            background-color: theme-color("primary");
            border-radius: 50px;
            position: absolute;
            bottom: 0;
            left: 0.9rem;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }
    }

    .auth-lnks {
        a {
            margin: 5px;
            position: relative;
            padding: 0.5rem 0.9rem;

            &:last-child:before {
                content: "|";
                font-weight: 400;
                position: absolute;
                left: -5px;
                top: 0;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }

    .search-item {
        position: relative;

        &::before {
            content: "|";
            font-weight: 400;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .btn {
        min-width: auto;
        min-height: auto;
    }
}

.menu-srch {



    button {
        border: none;
        cursor: pointer;
        outline: none;
        height: 100%;
        padding: 20px;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    .search-btn img {
        height: 22px;
    }

    .aside-btn img {
        height: 15px;
    }
}

.search-form {
    background-color: #fff;
    position: absolute;
    width: 270px;
    height: 80px;
    padding: 13px 10px;
    top: calc(100%);
    right: 0;
    display: none;
    z-index: 110;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);

    .btn-search {
        color: $gray-600;
        font-size: 17px;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }

    .form-control {
        margin: 0;
    }
}

// login modal
.modal {
    .modal-content {
        padding: 30px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        box-shadow: 0;
        border: none;
        background-color: #FDFDFD;
    }

    .modal-header {
        border-bottom: 0;
        padding: 0;

        .modal-title {
            font-weight: 600;
            text-align: center;
            position: relative;
            width: 100%;
            font-size: 23px;

            &::after {
                content: "";
                width: 100px;
                display: flex;
                height: 0px;
                margin: 12px auto;
                background-color: theme-color(primary);
                border: 2px solid theme-color(primary);
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
        }
    }

    .modal-body {
        padding: 0;
    }

    .form-control {
        background-color: #F7F7F7;
        border-color: #E4E4E5;
        min-height: 50px;

        ::placeholder {
            color: #808191;
        }
    }

    .line-b4 {
        position: relative;

        &::before {
            content: "";
            width: 80%;
            display: flex;
            height: 2px;
            margin: 10px auto;
            background-color: $gray-300;

        }
    }
}

.OR {
    display: block;
    z-index: 1;
    position: relative;
    color: $gray-500;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        z-index: -2;
        bottom: 8px;
        width: 100%;
        border-bottom: 1px solid $gray-200;
    }

    &::before {
        content: "";
        position: relative;
        z-index: -1;
        width: 40%;
        height: 30px;
        display: block;
        margin: auto;
        margin-bottom: -30px;
        background-color: $white;
    }
}

.socail-logins {
    .btn {
        border: 1px solid $gray-200;
        margin: 5px;
        color: $white;
        min-width: 120px;

        i,
        svg {
            font-size: 20px;
            margin: 0 5px;
        }

    }

    .facebook {
        background-color: #2877B5;
    }

    .google {
        background-color: #DB4437;
    }

    .youtube {
        background-color: #FF0000;
    }

    .twitter {
        background-color: #1DA1F2;
    }

    .instagram {
        background-color: #cd486b;
    }

    .linkedin {
        background-color: #0072b1;
    }

}

/* menu togglar button */

.navbar-toggler {
    padding: 0;
    text-align: center;
    box-shadow: none;
    height: 35px;
    margin: 5px;
    width: 48px;
    display: block;
    border: none;

    .navbar-toggler-icon {
        margin: 10px 0;
        width: 100%;
        height: 3px;
        border: 1px solid theme-color(primary);
        display: inline-block;
        background-color: theme-color(primary);
    }

    &.collapsed,
    &[aria-expanded=false] {
        .navbar-toggler-icon {
            width: 30px !important
        }
    }

    &::after,
    &::before {
        content: "";
        width: 85%;
        height: 3px;
        border: 1px solid theme-color(primary);
        background-color: theme-color(primary);
        position: absolute;
        top: 7px;
        right: 7%;
    }

    &::after {
        bottom: 7px;
        top: auto;
        width: 85%;
    }

    &[aria-expanded=true] {
        transform: rotate(-360deg) !important;
        -webkit-transform: rotate(-360deg) !important;
        -moz-transform: rotate(-360deg) !important;
        -ms-transform: rotate(-360deg) !important;
        -o-transform: rotate(-360deg) !important;

        .navbar-toggler-icon {
            width: 30px;
            // background-color: $white !important;
            // border-color: $white !important;
            transform: rotate(45deg) !important;
            -webkit-transform: rotate(45deg) !important;
            -moz-transform: rotate(45deg) !important;
            -ms-transform: rotate(45deg) !important;
            -o-transform: rotate(45deg) !important;
        }

        &::after {
            transform: rotate(-45deg) !important;
            -webkit-transform: rotate(-45deg) !important;
            -moz-transform: rotate(-45deg) !important;
            -ms-transform: rotate(-45deg) !important;
            -o-transform: rotate(-45deg) !important;
            bottom: 16px;
            right: 16%;
            width: 30px;
            // background-color: $white !important;
            // border-color: $white !important;
        }

        &::before {
            content: none
        }
    }

}

.profile-lnk {
    img {
        background-color: #DBDCFF;
        padding: 5px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }
}

/* Header */

#header {
    color: $white;
    padding: 30px 40px;
    z-index: 100;
    margin: 20px 0 30px 0;
    min-height: 50vh;
    background: theme-color(primary);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#breadcrumb-header {
    background: url(../images/breadcrumb.svg) bottom left/100% auto #fd8225 no-repeat;
    padding: 30px 0;
    min-height: 200px;
    color: $white;

    .breadcrumb {
        background-color: transparent;
        color: $white;
        align-items: center;
        justify-content: center;
        margin: 0;

        .active,
        a {
            color: $white;

        }

        .breadcrumb-item+.breadcrumb-item::before {
            content: ">>";
            color: $white;
        }
    }
}

.site-descp {
    .sub-title {
        position: relative;
        padding-left: 15px;
        font-size: 20px;
        margin-bottom: 20px;

        &::before {
            content: "";
            height: 100%;
            width: 3px;
            background-color: $white;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 35px;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            -ms-border-radius: 35px;
            -o-border-radius: 35px;
        }

    }

    .site-title {
        font-size: 40px;
        font-weight: 600;
    }

}

.datepicker {
    background: #F7F7F7 url('../images/date.png') no-repeat right 10px center / 20px !important;
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator{
        opacity: 0;
    }
}

.timepicker {
    background: #F7F7F7 url('../images/time.png') no-repeat right 10px center / 20px !important;
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator{
        opacity: 0;
    }
}
.search {
     
    background-image: url('../images/search-orange.svg')  !important;
    background-repeat: no-repeat !important;
    background-position: right 10px center !important ;
    background-size: 20px  !important;
}
.find-event-form {
    margin: 45px 0;

    .form-control {
        background-color: #F7F7F7;
        border-color: #E4E4E5;
        height: 45px;
        min-height: 45px;
        margin: 0;
        padding-left: 40px;
        color: #808191;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        &::placeholder {
            color: #808191;
        }
    }
    .datepicker {
        background: #F7F7F7 url('../images/date.png') no-repeat left 10px center / 20px !important;

    }

    .timepicker {
        background: #F7F7F7 url('../images/time.png') no-repeat left 10px center / 20px !important;
    }
  
}

.find-event-courses-form {
    margin: 45px 0;

    .form-control {
        background-color: #FC6D00;
        border-color: #FC6D00;
        height: 45px;
        min-height: 45px;
        margin: 0;

        color: #FFFFFF;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        &::placeholder {
            color: #FFFFFF;
        }
    }

    .search {
        padding-left: 40px;
        background: #FC6D00 url('../images/search.svg') no-repeat left 10px center / 20px;
    }

    select.form-control {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 40px;
        background: #FC6D00 no-repeat right 10px center / 15px url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAAAdUlEQVQ4je3NPQqDUBBF4UPqJLj0oE3U9cQuXcDGPsRNHBuFh8Sf92y9MM1c5hs4sxn1pd4P3GdqcwHeQKdmCcgNaIHPtMjVPgZTr+pXrebFbmwRicECpNz6tojtRtawaOQflowEWK3+xnkmIQFWqI9DyBkABpmLq0fZgMB3AAAAAElFTkSuQmCC');
        appearance: none;

        option {
            background-color: $white;
            color: #000;
        }
    }
}

.site-img {
    height: 100%;
    max-height: 75vh;
    margin-bottom: -57px;
    margin-top: 57px;

    img {
        height: 60vh;
        display: block;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        object-fit: scale-down;
        object-position: bottom;
    }
}

// end header
// start content 
.sec-title {
    margin: 20px 0;
    font-size: 23px;
    font-weight: 500;

    &.font-lg {
        font-size: 40px;
    }
}

.bordered-title {
    position: relative;
    padding-bottom: 9px;
    // display: flex;
    // flex-direction: column;
    margin-bottom: 30px;

    &::after {
        content: "";
        border: 1px solid theme-color(primary);
        max-width: 95%;
        width: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.sec-slug {
    max-width: 500px;
    margin: auto;
    font-size: 18px;
}


.font-weight-medium {
    font-weight: 600;
}

.rounded {
    border-radius: 0.75rem !important;
    -moz-border-radius: 0.75rem !important;
    -ms-border-radius: 0.75rem !important;
    -o-border-radius: 0.75rem !important;
    -webkit-border-radius: 0.75rem !important;
}

.scrolled-card {
    max-height: 150vh;
    overflow-y: auto;
    padding: 15px;
}

// upcoming-events section
.upcoming-events {
    padding: 70px 0;
    background: #fff;


}

.event-card {
    position: relative;
    background-color: #FDFDFD;
    padding: 22px 20px;
    height: calc(100% - 20px);
    margin: 10px 0px;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;

    &.watchnow-card {
        background-color: #FFFAF7;
    }

    &.soon-card {
        background-color: #FBFBFE;
    }
    &.finished-card {
        background-color: #fdedef;
    }

    .card-title {
        font-size: 21px;
        font-weight: 600;
    }

    img {
        width: 35px;
        height: 35px;
        // margin-right: 10px;
        padding: 3px;

        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;

        &.icon {
            width: auto;
            height: 25px;

        }
    }

    &.d-flex {
        .card-header {
            width: 150px;
        }

        .card-body {
            width: calc(100% - 150px);
        }
    }

    .event-img {
        height: 140px;
        width: 140px;
        margin: auto;
        display: block;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    .event-date {
        font-size: 14px;
        font-weight: 500;
    }

    .event-admin {
        h6 {
            font-size: 14px;
        }

        img {
            background-color: #FF9999;
        }
    }

    .event-duration {
        font-size: 13px;
        font-weight: 500;
        color: #808191;
        background-color: $gray-200;
        padding: 5px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;

        i,
        svg {
            font-size: 16px;
            margin: 0 3px;
        }
    }

}


.event-main-img {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    color: #fff;

    img {
        width: 100%;
        height: 60vh;
        min-height: 400px;
        object-fit: cover;
    }

    .overlay {
        display: flex;
        padding: 5%;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.458), transparent);
    }
}

.countdown {
    font-size: 15px;
    display: flex;
    text-align: center;

    span {
        position: relative;
        display: block;
        font-size: 16px;
        text-align: center;
    }

    .count-item {
        width: 100px;
        padding: 10px;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.478);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        .number {
            font-size: 45px;
            font-weight: 600;
            line-height: 1;
        }
    }
}

details.event-place-details[open] {
    background-color: $gray-100;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

details.event-admin-details {
    background-color: $gray-100;
    position: relative;
    padding: 10px;
    // padding-left: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    summary::after {
        content: "";
        position: absolute;
        top: 0px;
        right: 1%;
        width: 20px;
        height: 100%;
        background: no-repeat center / 15px url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAOVBMVEUAAACAgICJiYmSkpKAgJ+BgY+AgZGAgJKBgZKAgo+AgZCAgJGAgJGAgZB/gZGAgZF/gZCAgpH////ayDNCAAAAEnRSTlMADA0OEJCSk5iZmpvFxufn6eq+T+OpAAAAAWJLR0QSe7xsAAAAAEdJREFUGNNjYKAi4GFG5bPwMrAJsiCLMPFzMaCKMYJEUMQY+bggDLgYIx8nTBIqhiQCFUMRAYuhiTAwcAsIcKA7mZ2VgQYAADtDAcvjns0qAAAAAElFTkSuQmCC');
    }

    &[open] summary::after {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    .event-admin .icon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    >div {

        margin-left: 65px;
    }
}

summary {
    position: relative;
    display: flex;
}

.rate {
    color: #808191;

    .active {
        color: #FFCC00;
    }

    .reviews-nums {
        color: $gray-500;
    }
}

.tags-list {
    li {
        padding-right: 10px;
        margin: 5px;

        &:not(:first-child) {
            padding: 0 10px;
            border-left: 1px solid $black;
        }
    }
}

// calendar
.calendar-sec {
    padding: 40px 0;
    background-color: #FDFDFF;
}

#calendar {
    // width: 85%;
    margin: 40px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    .fc-head {
        background-color: #F7F7F7;
        color: #808191;
        padding: 20px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        th,
        td,
        tr {
            border: 0;
            padding: 10px;
            font-weight: 400;
            font-size: 15px;
            margin-bottom: 10px;
            border-bottom: 0;
        }
    }

    .fc-body {
        padding: 20px;
        background-color: #fff;

        >tr>.fc-widget-content:first-child {
            border-top: 0;
            margin-top: 40px;

        }
    }

    .fc-event {
        height: 100%;
        background-color: #EEEEFF;
        color: $black;
        border: 0;
        border-left: 3px solid #1DA1F2;
    }

    .fc-button {
        border: 2px solid $gray-400;
        width: 45px;
        min-width: fit-content;
        height: 45px;
        margin: 5px;
        color: $gray-400;
        background-color: transparent;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }

    .fc-button-active {
        border-color: theme-color(primary);
        color: theme-color(primary);
    }

    .fc-button:focus {
        box-shadow: none;
    }

    .fc-scroller {
        min-height: 400px;
    }
}

// counter 
.counter-sec {
    .timer {
        font-weight: 600;
        font-size: 45px;

        &::before {
            content: "+";
        }
    }


    label {
        color: #808191;
        font-size: 18px;
    }
}

// courses categories 
.courses-categories-sec {
    padding: 40px 0;
}

.course-card {
    border: 1px solid $gray-300;
    border-bottom: 0;
    border-left: 0;

    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            border-top: 0;
        }
    }

    &:nth-child(4),
    &:nth-child(8),
    &:nth-child(12),
    &:nth-child(16),
    &:nth-child(20),
    &:nth-child(24) {

        border-right: 0;

    }

    .course-item {
        padding: 35px 20px;
        width: 100%;
        height: 100%;

        .course-title {
            font-size: 17px;
            font-weight: 600;
        }

        .course-icon {
            height: 60px;
            margin: 25px auto;
        }

        .courses-number {
            margin: 20px 0;
            font-size: 18px;
            text-transform: capitalize;
            color: $gray-500;
            font-weight: 500;
        }
    }

    &:hover {
        .course-item {
            padding: 25px 10px;
            width: 85%;
            height: 85%;
            box-shadow: 15px 15px 40px rgba(0, 0, 0, .04);

            .course-icon {
                height: 50px;
            }

            .course-title {
                font-size: 16px;
                font-weight: 600;
            }

            .courses-number {
                font-size: 17px;
            }
        }
    }

}

// Start Sponsers slider
.sponsers-section {
    .sec-title {
        font-size: 30px;
    }
}

.sponsers-slider {
    padding: 20px 0 15px 0;


    .sponser-logo {
        padding: 10px;
        margin: 5px 20px;
        height: 55px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }
}

// End Sponsers Slider 
// Start subscribe 
.subscribe-sec {
    margin: 50px 0;

    .sec-decp {
        height: 100%;
        padding: 5% 30px 5% 20%;

        .sec-title {
            font-size: 40px;
            line-height: 1.7;
        }
    }

    .subscribe-form {
        height: 100%;
        background-color: #F7F7F7;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-control {
        background: #FFFFFF;
        min-height: 45px;
        min-width: 50%;
        padding: 0.5rem 0.75rem;
        margin: 10px 20px 10px 0;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
}

// end subscribe 

// start About us
.team-sec {
    background-color: #FFFBF8;
    padding: 80px 0;

    .sec-title {
        font-weight: 600;
    }

    .team-member {
        margin: 20px;

        img {
            height: 340px;
            margin: 20px 0;
            object-fit: cover;
            max-width: 300px;
            margin: 20px auto;
            width: 100%;
            border-radius: 28px;
            -webkit-border-radius: 28px;
            -moz-border-radius: 28px;
            -ms-border-radius: 28px;
            -o-border-radius: 28px;
        }

        .member-name {
            font-size: 22px;
            font-weight: 600;
        }

        .member-position {
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.why-iwebinar-slider {
    .item {
        margin: 20px;
        background: #FBFBFE;
        padding: 25px 15px;
        border-radius: 27px;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        -ms-border-radius: 27px;
        -o-border-radius: 27px;

        .item-title {
            font-size: 18px;
            font-weight: 600;
        }

        .item-descp {
            font-size: 15px;
            font-weight: 500;
        }

        img {
            width: 80px;
            margin: 12px auto;
        }
    }
}

// .sec-descp {}

.custom-ul {
    li {
        position: relative;
        display: flex;
        margin: 20px 0;
        padding-left: 50px;

        &::before {
            content: "\f192";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            left: 0;
            top: 2px;
            margin: 8px;
            line-height: 1;
            font-weight: 900;
            box-shadow: 0 0 0 2px #fff inset;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: theme-color-level(primary, -10);
            background-color: theme-color(primary);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            border: 1px dashed theme-color(primary);
            padding: 5px;
            width: 40px;
            height: 40px;
            line-height: 1;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
}

// End About us
// Start contact us
.contact-info-card {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    margin: 10px;
    height: calc(100% - 20px);
    text-align: center;
    background-color: #FBFBFE;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;

    img {
        width: 50px;
        height: 50px;
        margin: 30px auto;
    }
}

.contact-us-form {
    background-color: #FDFDFF;

    .sec-title {
        font-size: 40px;
        margin: 30px 0;
    }

    .text-descp {
        max-width: 400px;
        font-size: 20px;
    }
}

// End contact us
// Start Profile
.personal-profile-pg {
    .form-control {
        background-color: #F7F7F7;
        border-color: #E4E4E5;
        min-height: 50px !important;
    }

    #profile-tab {
        .nav-link {
            background-color: $white;
            color: $black;
        }

        .nav-link.active {
            background-color: theme-color-level(primary, -10);
            color: theme-color(primary);
        }
    }
}

.file-upload-wrapper {

    border-bottom: 2px solid #DBDCFF;
    padding-bottom: 10px;

    input[type='file'] {
        opacity: 0;
        display: none;
    }

    img {
        display: block;
        padding: 10px;
        width: 80px;
        height: 80px;
        margin-right: 10px;
        background-color: #DBDCFF;
        object-fit: contain;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
    }
}

.profile-card {

    background-color: #FBFBFE;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .email {
        word-break: break-all;
    }
}

// End Profile

.btn {
    min-width: 150px;
    min-height: 45px;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.btn-white {
    background-color: $white;
    color: theme-color("primary");

    &:hover {
        color: theme-color("primary");
    }
}

.btn-gray {
    background-color: rgba(247, 247, 247, 0.251);
    color: $black;
    border-color: #F7F7F7;
    min-width: 130px;
    font-weight: 600;

    &:hover {
        color: theme-color("primary");
    }
}

// .btn-icon{

// }
// Links
@each $color,
$value in $theme-colors {


    .btn-light-#{$color},
    .bg-light-#{$color} {
        color: theme-color($color);
        background-color: theme-color-level($color, -10);

        &:hover,
        &:active,
        &:focus {
            background-color: theme-color($color) !important;
            color: theme-color-level($color, -10);

            img {
                filter: brightness(0) invert(1);
                -webkit-filter: brightness(0) invert(1);
            }
        }
    }

    .share-btns {
        .btn-#{$color}:focus,
        .bg-#{$color}:focus,
        .btn-light-#{$color}:focus,
        .bg-light-#{$color}:focus {
            color:theme-color-level($color, 0);
            background-color:  theme-color-level($color, -10) !important;
 
        }
        .active.btn-#{$color},
        .active.bg-#{$color},
        .active.btn-light-#{$color},
        .active.bg-light-#{$color} {
            color:  theme-color-level($color, -10);
            background-color: theme-color-level($color, 0) !important;
 
        }
       
    }
}

// forms 
.form-control {
    resize: none;
    background: #FFFFFF;
    min-height: 55px;
    min-width: 50%;
    padding: 0.75rem 1rem;
    margin: 20px 0;
    border-color: #E4E4E5A1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    ::placeholder {
        color: #808191;
    }
}

.password-wrapper {
    position: relative;
    // border-radius: ;

    // -webkit-border-radius:;
    // -moz-border-radius:;
    // -ms-border-radius:;
    // -o-border-radius:;
    // .form-control,    
    // input[type='password']{
    //     background-color: transparent;
    //     border:0;
    // }
    .togglePass {
        position: absolute;
        border: none;
        top: 0;
        background: transparent;
        height: 100%;
        right: 10px;
        color: #495057;
        padding: 5px;
    }

}

textarea.form-control {
    height: 100px;
}

select.form-control {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 40px;
    background: no-repeat right 10px center / 15px url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAOVBMVEUAAAD/gAD/dgD/bQD/YAD9bAD8bgD8bQD8bQD9bAD8bQD8bgD7bQD7bAD8bAD8bQD8bQD8bAD///9gTiOVAAAAEnRSTlMADA0OEJCSk5iZmpvFxufn6eq+T+OpAAAAAWJLR0QSe7xsAAAAAEdJREFUGNNjYKAi4GFG5bPwMrAJsiCLMPFzMaCKMYJEUMQY+bggDLgYIx8nTBIqhiQCFUMRAYuhiTAwcAsIcKA7mZ2VgQYAADtDAcvjns0qAAAAAElFTkSuQmCC');
    appearance: none;

    min-width: 120px !important;
}

.primary-row {
    label {
        color: theme-color(primary);
    }

    .form-control {
        background-color: #FDF2E9;
        border-color: theme-color(primary);
        color: theme-color(primary);
    }
}

// Start Events
.filter-row {
    .form-control {
        color: #808191;
        border-color: #E4E4E5;
        background-color: #F7F7F7;
    }

    select.form-control {
        // width: auto;
        min-width: 120px !important;
        background: #F7F7F7 no-repeat right 10px center / 15px url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAOVBMVEUAAACAgICJiYmSkpKAgJ+BgY+AgZGAgJKBgZKAgo+AgZCAgJGAgJGAgZB/gZGAgZF/gZCAgpH////ayDNCAAAAEnRSTlMADA0OEJCSk5iZmpvFxufn6eq+T+OpAAAAAWJLR0QSe7xsAAAAAEdJREFUGNNjYKAi4GFG5bPwMrAJsiCLMPFzMaCKMYJEUMQY+bggDLgYIx8nTBIqhiQCFUMRAYuhiTAwcAsIcKA7mZ2VgQYAADtDAcvjns0qAAAAAElFTkSuQmCC');
    }
}

.filter-result-head {
    .btn {
        min-height: 55px !important;
    }

    .form-control {
        border-color: theme-color(primary);
        color: theme-color(primary);
    }
}

.filter-display-shape {
    .btn {
        color: $gray-600;
    }

    .active {
        color: theme-color(primary);
    }
}

// End Content
// Start Footer

.social-links {

    li {
        margin: 5px 8px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }


    i,
    svg {
        font-size: 16px;
    }

    .facebook {
        color: #2877B5;
        background-color: #2877B51a;
    }

    .youtube {
        color: #FF0000;
        background-color: #FF00001a;
    }

    .twitter {
        color: #1DA1F2;
        background-color: #1DA1F21a;
    }

    .instagram {
        color: #cd486b;
        background-color: #cd486b1a;
    }

    .linkedin {
        color: #0072b1;
        background-color: #0072b11a;
    }

    .pinterest {
        color: #E60023;
        background-color: #E600231a;
    }

}

footer {
    color: $black;
    background-color: #FDFDFF;

    .footer-top {
        padding: 60px 0;
        position: relative;

        &::after {
            content: "";
            width: 60%;
            margin: auto;
            bottom: -50px;
            height: 1px;
            background-color: $gray-200;
            position: relative;
            display: block;
        }
    }

    .footer-title {
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
    }

    .footer-descp {
        .footer-logo {
            height: 50px;
            margin-bottom: 20px;
        }
    }

    .footer-links {
        margin-top: 50px;

        li {
            margin: 10px 0;
        }
    }

    .copyrights-social {
        padding: 20px;
        font-size: 14px;
        color: #677294;

        .social-links {
            padding-left: 30px;
            border-left: 1px solid $gray-300;
            width: fit-content;
            margin-left: auto;
        }
    }
}

// end Footer

a,
.course-card *,
.course-card,
.main-nav,
.sticky-menu,
.btn:before,
.owl-dot,
.navbar,
.nav-item .nav-link:after {
    transition: map_get($transition, main);
    -webkit-transition: map_get($transition, main);
    -moz-transition: map_get($transition, main);
    -ms-transition: map_get($transition, main);
    -o-transition: map_get($transition, main);
}


.body_wrapper,
header,
.navbar-toggler,
.navbar-toggler-icon,
.menu-lnks,
.menu-text .text,
.nav-social .social-list {
    position: map_get($position-rel, main);
}

/* Sticky menu */
.sticky-menu {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 110;
    font-size: 15px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.09);

    .navbar-brand {

        img {
            padding: 0;
            height: 30px !important;
        }
    }
}

/* Sticky menu */
// preloader
.loading {
    $colors: #FD8122, #FD8122b3, #FD812280, #FD81224d;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $white;
    align-items: center;

    justify-content: center;
    text-align: center;

    .dot {
        position: relative;
        width: 2em;
        height: 2em;
        margin: 0.8em;
        border-radius: 50%;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: inherit;
            border-radius: inherit;
            animation: wave 2s ease-out infinite;
        }

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                background: nth($colors, $i);

                &::before {
                    animation-delay: $i * 0.2s;
                }
            }
        }
    }
}

@keyframes wave {

    50%,
    75% {
        transform: scale(2.5);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@media (max-width: 991.98px) {

    /* NavBar */
    .navbar-collapse {
        height: 100%;
        width: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 110;
        background-color: rgba(0, 0, 0, .2)
    }

    .navbar-collapse.show {
        width: 100%;
        height: 100%;
        display: flex;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        flex-direction: column;
        align-items: flex-start
    }

    .navbar-toggler {
        z-index: 119
    }

    .navbar-collapse .navbar-nav {
        padding: 30px;
        width: 250px;
        margin: initial !important;
        min-height: 100%;
        height: auto;
        background-color: #fff;

    }

    .navbar .btn {
        padding: 4px 10px !important;
    }

    .navbar-brand {
        margin-right: 5px;

        img {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }

    .course-card {
        @for $i from 1 through 2 {
            &:nth-child(#{$i}) {
                border-top: 0 !important;
            }
        }

        @for $i from 3 through 4 {
            &:nth-child(#{$i}) {
                border-top: 1px solid #dee2e6 !important;
            }
        }

        &:nth-child(even) {

            border-right: 0;

        }
    }

    .site-img {
        img {
            height: 100%;
            max-height: 200px;
        }

    }

    .navbar .auth-lnks a {
        padding: 0.5rem 0.2rem;
    }

    .search-form {
        max-width: 100%;
    }

    // Header 
    #header {
        padding: 30px 25px;
    }

    .find-event-courses-form {
        margin-bottom: 20px;
    }

    .site-img {
        margin-top: 0;
        margin-bottom: -20px;
    }

    #calendar {
        width: 100%;
    }

    .event-card {
        flex-wrap: wrap;

        .card-header {}

        .card-body {
            flex: 0 0 100%;
        }
    }

    .subscribe-sec {
        margin: 40px 0;

        .sec-decp {
            padding: 5%;
        }
    }

    .course-item {
        .course-title {
            font-size: 24px !important;
        }
    }

    // 
    .filter-display-shape {
        display: none;
    }

    // footer
    .footer-title {
        margin-top: 35px !important;
    }

    .footer-links {
        margin-top: 25px !important;
    }

    .copyrights-social {
        text-align: center;

        .social-links {
            justify-content: center;
            margin-left: initial !important;
            border-left: 0 !important;
        }
    }
}

@media (min-width: 1200px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1200px;
        margin: auto !important;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 992px) and (max-width: 1200px) {

    .col-lg-6 {
        .event-card .card-body {
            flex: 0 0 100%;
        }
    }


    .course-card:nth-child(4),
    .course-card:nth-child(8),
    .course-card:nth-child(12),
    .course-card:nth-child(16),
    .course-card:nth-child(20),
    .course-card:nth-child(24) {
        border-right: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
    }

    .course-card:nth-child(3),
    .course-card:nth-child(6),
    .course-card:nth-child(9),
    .course-card:nth-child(12),
    .course-card:nth-child(15),
    .course-card:nth-child(18) {
        border-right: 0;
        border-bottom: 1px solid #dee2e6;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .btn {
        min-width: 110px;
    }

    .course-card {

        &:not(:first-child) {
            border-top: 1px solid #dee2e6 !important;
            border-right: 0;
        }

        &:first-child {
            border-right: 0;
        }


    }

    .sec-title.font-lg {
        font-size: 32px;
    }

    .course-card:hover {

        .course-item {
            margin: auto;

        }
    }
}

// Small devices (landscape phones, less than 576px)
@media (max-width: 575px) {}

@media (max-width: 425px) {
    .navbar {

        .logo {
            height: 35px;
            margin: 5px 5px 5px 5px;
        }
    }

    .sec-title {
        font-size: 21px;
    }

    .share-btns {
        position: absolute;
        top: 10px;
        right: 10px;

    }

    .filter-result-head {
        .btn {
            min-width: 150px !important;
        }
    }

    .file-upload-wrapper {
        img {
            width: 60px;
            height: 60px;
        }
    }

    .countdown {

        span {
            font-size: 14px;
        }

        .count-item {
            width: 70px;
            padding: 10px 5px;
            margin: 10px 5px;

            .number {
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 375px) {
    .navbar {

        &.sticky-menu .logo,
        .logo {
            height: 30px !important;
            margin: 5px 5px 5px 5px;
        }
    }

    .navbar-toggler {
        width: 40px;
        margin: 5px;
    }

    .navbar-toggler[aria-expanded=false],
    .navbar-toggler.collapsed {
        .navbar-toggler-icon {
            width: 22px !important;
        }
    }

    .btn {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.rtl {
    direction: rtl;
    text-align: right;
}

.rtl {

    /* Generals */
    text-align: right;
    direction: rtl;


    .body_wrapper {

        direction: rtl;
        text-align: right;
    }



    // navbar
    .navbar {


        .logo {
            margin: 5px 5px 5px 1rem;

        }

        .nav-link {

            &.active::after {
                right: 0.9rem;
                left: auto;
            }
        }

        .auth-lnks {
            a {

                &:last-child:before {

                    right: -5px;
                    left: auto;

                }
            }
        }

        .search-item {
            position: relative;

            &::before {
                right: 0;
                left: auto;
            }
        }


    }

    .search-form {

        left: 0;
        right: auto;

        .btn-search {

            left: 0;
            right: auto;
        }
    }



    .OR {
        &::after {
            right: 0;
            left: auto;
        }
    }
    .search { 
        background-position: left 10px center !important ;
      
    }

    /* menu togglar button */

    .navbar-toggler {

        &::after,
        &::before {

            left: 7%;
            right: auto;
        }


        &[aria-expanded=true] {



            &::after {

                right: auto;
                left: 16%;
            }


        }

    }

    .profile-lnk {
        img {
            margin-left: 10px;
            margin-right: initial;
        }
    }

    /* Header */

    #breadcrumb-header {
        background: url(../images/breadcrumb.svg) bottom right/100% auto #fd8225 no-repeat;


        .breadcrumb {
            .breadcrumb-item+.breadcrumb-item::before {
                float: right;
                padding-right: 0.5rem;
            }
        }
    }

    .site-descp {
        .sub-title {
            padding-right: 15px;
            padding-left: initial;

            &::before {

                right: 0;
                left: auto;

            }
        }

    }
    .datepicker {
        background: #F7F7F7 url('../images/date.png') no-repeat left 10px center / 20px !important;
       
    }

    .timepicker {
        background: #F7F7F7 url('../images/time.png') no-repeat left 10px center / 20px !important;
    }
    .find-event-form {

        .form-control {

            padding-right: 40px;
            padding-left: initial;

        }
        .datepicker {
            background: #F7F7F7 url('../images/date.png') no-repeat right 10px center / 20px !important;
        }

        .timepicker {
            background: #F7F7F7 url('../images/time.png') no-repeat right 10px center / 20px !important;
        }

    }

    .find-event-courses-form {


        .search {
            padding-left: initial;
            padding-right: 40px;
            background: #FC6D00 url('../images/search.svg') no-repeat right 10px center / 20px;
        }

        select.form-control {

            padding-left: 40px;
            padding-right: 0.75rem;
            background: #FC6D00 no-repeat left 10px center / 15px url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAAAdUlEQVQ4je3NPQqDUBBF4UPqJLj0oE3U9cQuXcDGPsRNHBuFh8Sf92y9MM1c5hs4sxn1pd4P3GdqcwHeQKdmCcgNaIHPtMjVPgZTr+pXrebFbmwRicECpNz6tojtRtawaOQflowEWK3+xnkmIQFWqI9DyBkABpmLq0fZgMB3AAAAAElFTkSuQmCC');

        }
    }


    // end header
    // start content 


    .bordered-title {

        &::after {

            right: 0;
            left: initial;
        }
    }


    // upcoming-events section




    .event-main-img {

        .overlay {

            right: 0;
            left: initial;
        }
    }


    details.event-place-details[open] {

        padding-left: 10px;
        padding-right: 20px;
    }

    details.event-admin-details {


        summary::after {

            left: 1%;
            right: initial;
        }



        .event-admin .icon {

            margin-left: 10px;
            margin-right: initial;
        }

        >div {

            margin-right: 65px;
            margin-left: initial;
        }
    }


    .tags-list {
        li {
            padding-left: initial;
            padding-right: 10px;

            &:not(:first-child) {

                border-right: 1px solid $black;
                border-left: 0;
            }
        }
    }

    // calendar

    #calendar {


        .fc-event {

            border-right: 3px solid #1DA1F2;
            border-left: 0;
        }

    }



    .course-card {

        border-left: 1px solid $gray-300;
        border-right: 0;

        &:nth-child(4),
        &:nth-child(8),
        &:nth-child(12),
        &:nth-child(16),
        &:nth-child(20),
        &:nth-child(24) {
            border-left: 0;
            border-right: 1px solid $gray-300;
        }
    }


    // Start subscribe 
    .subscribe-sec {

        .sec-decp {
            padding: 5% 20% 5% 30px;
        }


        .form-control {
            margin: 10px 0 10px 20px;
        }
    }

    // end subscribe 

    // start About us


    .custom-ul {
        li {

            padding-right: 50px;
            padding-left: initial;

            &::before {

                left: initial;
                right: 0;

            }

            &::after {
                right: 0;
                left: initial;
            }
        }
    }

    // End About us

    // Start Profile


    .file-upload-wrapper {



        img {

            margin-left: 10px;
            margin-right: 0px;
        }
    }


    // End Profile



    // forms 

    select.form-control {

        padding-left: 40px;
        padding-right: 0.5rem;
        background: no-repeat left 10px center / 15px url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAOVBMVEUAAAD/gAD/dgD/bQD/YAD9bAD8bgD8bQD8bQD9bAD8bQD8bgD7bQD7bAD8bAD8bQD8bQD8bAD///9gTiOVAAAAEnRSTlMADA0OEJCSk5iZmpvFxufn6eq+T+OpAAAAAWJLR0QSe7xsAAAAAEdJREFUGNNjYKAi4GFG5bPwMrAJsiCLMPFzMaCKMYJEUMQY+bggDLgYIx8nTBIqhiQCFUMRAYuhiTAwcAsIcKA7mZ2VgQYAADtDAcvjns0qAAAAAElFTkSuQmCC');

    }

    // Start Events
    .filter-row {

        select.form-control {

            background: #F7F7F7 no-repeat left 10px center / 15px url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAOVBMVEUAAACAgICJiYmSkpKAgJ+BgY+AgZGAgJKBgZKAgo+AgZCAgJGAgJGAgZB/gZGAgZF/gZCAgpH////ayDNCAAAAEnRSTlMADA0OEJCSk5iZmpvFxufn6eq+T+OpAAAAAWJLR0QSe7xsAAAAAEdJREFUGNNjYKAi4GFG5bPwMrAJsiCLMPFzMaCKMYJEUMQY+bggDLgYIx8nTBIqhiQCFUMRAYuhiTAwcAsIcKA7mZ2VgQYAADtDAcvjns0qAAAAAElFTkSuQmCC');
        }
    }

    // End Content
    // Start Footer


    footer {

        .social-links {
            padding-left: 30px;
            border-left: initial;
            margin-left: initial;
            padding-right: 30px;
            border-right: 1px solid $gray-300;
            margin-right: auto;
        }

    }



    @media (max-width: 991.98px) {

        /* NavBar */
        .navbar-collapse {
            right: 0;
            left: auto;
        }

        .navbar-brand {
            margin-left: 5px;
            margin-right: 0;
        }

        .course-card {

            &:nth-child(even) {

                border-right: 1px solid #dee2e6;
                border-left: 0;

            }
        }


        .copyrights-social {
            .social-links {
                margin-left: initial !important;
                margin-right: initial !important;
                border-right: 0 !important;
                border-left: 0 !important;
            }
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 992px) and (max-width: 1200px) {

        .course-card:nth-child(4),
        .course-card:nth-child(8),
        .course-card:nth-child(12),
        .course-card:nth-child(16),
        .course-card:nth-child(20),
        .course-card:nth-child(24) {
            border-left: 1px solid #dee2e6;
            border-right: 0;
        }

        .course-card:nth-child(3),
        .course-card:nth-child(6),
        .course-card:nth-child(9),
        .course-card:nth-child(12),
        .course-card:nth-child(15),
        .course-card:nth-child(18) {
            border-left: 0;
            border-right: 1px solid #dee2e6;

        }
    }

    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {


        .course-card {

            &:not(:first-child) {
                border-left: 0;
                border-right: 1px solid #dee2e6;
            }

            &:first-child {
                border-left: 0;
                border-right: 1px solid #dee2e6;
            }


        }


    }

    // Small devices (landscape phones, less than 576px)
    @media (max-width: 575px) {}

    @media (max-width: 425px) {

        .share-btns {
            left: 10px;
            right: auto;
        }

    }

    @media (max-width: 375px) {}


}